
<div class="container mb-5">
        <h2 class="font-weight-bold my-5"
      
        >{{'my_account' |translate}}</h2>
    <div class="row" >
        <div class="col-lg-6">
                <h2 class="font-weight-bold mb-4">{{'login' |translate}}</h2>
               <!-- <form class="py-3">
                        <label for="" class="font-weight-bold">Username or email address*</label>
                        <input type="text" class="form-control  w-75">
                    </form>
                    <form class="py-3">
                            <label for="" class="font-weight-bold">Password*</label>
                            <input type="password" class="form-control  w-75">
                        </form>-->
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <label for="" class="font-weight-bold">{{'email_address' |translate}}*</label>
                                <input formControlName="mail" type="email" class="form-control  w-75" >
                                <div
                                    *ngIf="loginForm?.controls?.mail.invalid && loginForm?.controls?.mail?.errors?.required && loginForm?.controls?.mail.touched">
                                    <small class="text-danger  pt-1">
                                        {{'email_is_required' | translate}}
                                    </small>
                                </div>
                                <div *ngIf="loginForm?.controls?.mail.errors != null && loginForm?.controls?.mail?.errors?.pattern">
                                    <small class="text-danger  pt-1">
                                       {{ 'please_enter_a_valid_email_address'  | translate}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="" class="font-weight-bold"> {{'password' | translate}}*</label>
                                <input type="password" formControlName="password" class="form-control w-75" >
                               
                               
                                <div
                                    *ngIf="loginForm?.controls?.password.invalid && loginForm?.controls?.password?.errors?.required && loginForm?.controls?.password.touched">
                                    <small class="text-danger  pt-1">
                                       {{ 'password_is_required'  | translate}}
                                    </small>
                                </div>
                                <div
                                    *ngIf="loginForm?.controls?.password.errors != null && loginForm?.controls?.password.touched  && loginForm?.controls?.password?.errors?.minlength">
                                    <small class="text-danger  pt-1">
                                        {{ 'password_is_too_short'  | translate}} 
                                    </small>
                                </div>
                            </div>
                            <mat-checkbox class="py-2">  {{ 'remember_me'  | translate}}  </mat-checkbox>
                            <br>
                            <button type="button" (click)="login($event)" [disabled]='!loginForm?.valid'
                            class="px-5 py-3 text-white font-weight-bold w-75" mat-button> {{ 'log_in'  | translate}} </button>
                            <div class="w-75">
                                <a (click)="forgetPassword()" class="colorLink py-3 float-right font-weight-bold"> {{ 'lost_your_password'  | translate}}</a>
                           </div>
            
                        </form>
                   
                       <!--
                       <br>
                        <button class="w-75 px-5 py-4 font-weight-bold">Log In</button>
                       <div class="w-75">
                            <a href="#" class="colorLink py-3 float-right font-weight-bold">Lost your password</a>
                       </div>-->
                       
                      </div>
        <div class="col-lg-6">
                <h2 class="font-weight-bold mb-4">{{ 'register'  | translate}} </h2>
               <!-- <form class="py-3">
                        <label for="" class="font-weight-bold"> Email address*</label>
                        <input type="text" class="form-control  w-75">
                    </form>
                    <form class="py-3">
                            <label for="" class="font-weight-bold">Password*</label>
                            <input type="password" class="form-control w-75">
                        </form>-->
                        <form [formGroup]="registerForm">
                                <div class="form-group">
                                        <label for="" class="font-weight-bold"> {{ 'name'  | translate}}*</label>
                                    <input formControlName="regname" class="w-75 form-control" >
                                    <div
                                        *ngIf="registerForm.controls?.regname.invalid && registerForm.controls?.regname?.errors?.required && registerForm.controls?.regname.touched">
                                        <small class="text-danger  pt-1">
                                            {{ 'name_is_required'  | translate}}
                                        </small>
            
                                    </div>
                                    <div *ngIf="registerForm.controls?.regname.errors && registerForm.controls?.regname.touched">
                                        <small
                                            *ngIf="registerForm.controls?.regname?.errors?.minlength || registerForm.controls?.regname?.errors?.maxlength"
                                            class="text-danger  pt-1">
                                          {{ ' name_must_contain_3_20_characters'  | translate}}
                                           
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="" class="font-weight-bold">  {{ 'phone_number'  | translate}}*</label>
                                    <input formControlName="phone" type="number" class="w-75 form-control"
                                        >
                                    <div
                                        *ngIf="registerForm.controls?.phone.invalid && registerForm.controls?.phone?.errors?.required && registerForm.controls?.phone.touched">
                                        <small class="text-danger  pt-1">
                                                {{ 'phone_is_required'  | translate}}
                                            
                                        </small>
                                    </div>
                                    <div
                                        *ngIf="registerForm.controls?.phone.errors != null && registerForm.controls?.phone?.errors?.minlength">
                                        <small class="text-danger  pt-1">
                                                {{ 'name_must_contain_3_20_characters'  | translate}}
                                         
                                        </small>
                                    </div>
                                    <div
                                        *ngIf="registerForm.controls?.phone.errors != null && registerForm.controls?.phone?.errors?.pattern">
                                        <small class="text-danger  pt-1">
                                                {{ 'please_enter_a_valid_phone_number'  | translate}}
                                            
                                        </small>
            
                                    </div>
                                </div>
                                <div class="form-group">
                                     <label for="" class="font-weight-bold"> {{ 'email_address'  | translate}}*</label>
                                    <input formControlName="mail" type="email" class="w-75 form-control" >
                                    <div *ngIf="registerForm.controls?.mail.errors && registerForm.controls?.mail.touched">
                                        <small *ngIf="registerForm.controls?.mail?.errors?.required" class="text-danger  pt-1">
                                                {{ 'email_is_required'  | translate}}
                                        </small>
                                    </div>
                                    <div *ngIf="registerForm.controls?.mail?.errors?.pattern">
                                        <small class="text-danger  pt-1">
                                                {{ 'please_enter_a_valid_email_address'  | translate}}
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                <label for="" class="font-weight-bold"> {{ 'password'  | translate}}*</label>
                                    <div class="input-group position-relative w-75">
                                        <input id="password-field1" formControlName="passOne" type="password" class=" form-control"
                                            name="password" >
                                      
                                    </div>
                                   
                                    <div
                                        *ngIf="registerForm.controls?.passOne.invalid && registerForm.controls?.passOne?.errors?.required && registerForm.controls?.passOne.touched">
                                        <small class="text-danger  pt-1">
                                                {{ 'password_is_required'  | translate}}
                                        </small>
                                    </div>
                                    <div
                                        *ngIf="registerForm.controls?.passOne.errors != null && registerForm.controls?.passOne.touched  && registerForm.controls?.passOne?.errors?.minlength">
                                        <small class="text-danger  pt-1">
                                                {{ 'password_is_too_short'  | translate}}
                                        </small>
                                    </div>
            
                                </div>
                                <div class="form-group">
                                    <div class="input-group position-relative w-75">
                                       <label for="" class="font-weight-bold w-100" > {{ 'confirmPassword'  | translate}} *</label>
                                      
                                        <input id="password-field2" formControlName="confirmpassword" type="password"
                                            class="form-control" name="password" >
                                       
                                    </div>
                                    <div *ngIf="(registerForm.value.confirmpassword !== registerForm.value.passOne) && 
                                    !registerForm.controls.confirmpassword.errors && 
                                    registerForm.value.passOne">
                                    <small class="text-danger  pt-1">
                                            {{ 'passwordAndConfirmPasswordNotMatched'  | translate}}
                                        </small>
                                    </div>
                                   <!-- Your personal data will be used to process your order, 
                                        support your experience throughout this website, and for other purpose
                                         described in our
                                       <div
                                        *ngIf="registerForm.controls?.confirmpassword.errors != null && registerForm.controls?.confirmpassword.touched && (registerForm.value.passOne !== registerForm.value.confirmpassword)">
                                        <small class="text-danger  pt-1">
                                            Password doesn't match
                                        </small>
                                    </div>-->
                                </div>
                                <p class="text-muted w-75 mb-3 mt-3">  {{ 'Your_personal_data'  | translate}}
                                     <a  routerLink="/privacy-policy" class="text-dark font-weight-bold">  {{  'privacy_policy'  | translate}}</a></p>
            
                                <button type="button" (click)="register($event)" [disabled]='!registerForm.valid'
                                    class="w-75 my-2 py-3 text-white font-weight-bold" mat-button>  {{ 'register'  | translate}}
                                </button>
            
                              
                            </form>    
                        <!--<p class="text-muted w-75 mb-5 mt-3">Your personal data will be used to process your order, 
                            support your experience throughout this website, and for other purpose
                             described in our <a href="#" class="text-dark font-weight-bold"> privacy policy</a></p>

                        <button class="w-75 px-5 py-4 font-weight-bold">Register</button>-->
                      
        </div>
    </div>
</div>

<app-four-part></app-four-part>
