<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div class="content text-center m-auto">
                <h2 class="font-weight-bold">
                  {{"Clearance_Sales" | translate}}
                </h2>
                <h2 class="font-weight-bold">
                        {{"Up_to_70%_Off._All_Sales_are_Final!" | translate}}
                  
                </h2>
                <p class="text-muted pt-2">
                        {{"Last_chance_to_take_advantages_of_our_discounts!" | translate}}
                   
                </p>
                <button class="my-5 px-5 py-4">
                        {{"Discover_Sales" | translate}}
                  </button>
            </div>
        </div>
    </div>
</div>