<div class="container">
    <div class="row">
       
        <mat-divider></mat-divider>
    </div>
    <div class="row">
        <div class="col-12 mb-3 pb-3 border-bottom">
            <div class="d-flex">
                <fa-icon [icon]="faStar" class="mx-3"></fa-icon>
                <h4>New Products <span class="text-muted">55</span></h4>
            </div>
                  
          </div>
          <div class="col-12 mb-3 pb-3 border-bottom">
                <div class="d-flex">
                    <fa-icon [icon]="faPercentage" class="mx-3"></fa-icon>
                  <h4>On Sale! <span class="text-muted">5</span></h4> 
            </div>
            </div>
        <div class="col-12 mb-3 pb-3 border-bottom">
            <div class="d-flex">
                    <fa-icon [icon]="faFemale" class="mx-3"></fa-icon>  
                    <app-filter [title]="'Women'" [num]='2'></app-filter>
            </div>
           
        </div>
        <div class="col-12 mb-3 pb-3 border-bottom">
                <div class="d-flex">
                        <fa-icon [icon]="faTshirt" class="mx-3"></fa-icon>
                <app-filter [title]="'Men'" [num]='9'></app-filter>
        </div>
        </div>
        <div class="col-12 mb-3 pb-3 border-bottom">
                <div class="d-flex">
                        <fa-icon [icon]="faMale" class="mx-3"></fa-icon>
                <app-filter [title]="'Junior'" [num]='4'></app-filter>
        </div>
        </div>
        <div class="col-12 mb-3 pb-3 border-bottom">
                <div class="d-flex">
                        <fa-icon [icon]="faHatCowboy" class="mx-3"></fa-icon>
                <app-filter [title]="'Accessories'" [num]='6'></app-filter>
         </div>
         </div>
         <div class="col-12 mb-3 pb-3 border-bottom">
                <div class="d-flex">
                        <fa-icon [icon]="faGift" class="mx-3"></fa-icon>
                <app-filter [title]="'Gifts'" [num]='7'></app-filter>
        </div>
        </div>
        <div class="col-12 mb-3 pb-3 border-bottom">
                <div class="d-flex">
                        <fa-icon [icon]="faShoePrints" class="mx-3"></fa-icon>
                <app-filter [title]="'Shoses'" [num]='87'></app-filter>
        </div>
        </div>
        <div class="col-12 mb-3 pb-3 ">
                <div class="d-flex">
                        <fa-icon [icon]="faFemale" class="mx-3"></fa-icon>
                <h4>Tops <span class="text-muted">55</span></h4>   
          </div>
          </div>
    </div>
</div>