<div class="container">

                <div *ngIf="title" >
                         <h3 class="text-dark text-center font-weight-bold my-4">{{title}}</h3>
                        <p class="text-center text-muted mb-5">Add our new arrivals to your weekly lineup</p>
                 </div>
        <div class="row mb-3">
               

                <div *ngFor="let item of collection?.items | slice:0:4" class="col-lg-3 col-md-6">
                        <app-product-item [product]="item">
                        </app-product-item>
                </div>
        </div>
</div>
<!-- *ngFor="let item of collection?.items ? collection?.items : collection  | slice:0:3"
 <div class="col-xl-3 col-lg-4 col-md-6 pr-0">
                <div class="card w-100">
                  <span> new </span>
                </div>
                <p class="text-muted mt-2">Black Sneakers <br> $139 </p>

              </div>-->