<mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="mb-3">
        <mat-panel-title>
          {{title}} <span class="text-muted ml-1">{{num}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-muted">dresses  <span class="text-muted ml-1">3</span></p>
      <p class="text-muted">dresses  <span class="text-muted ml-1">5</span></p>
      <p class="text-muted">dresses  <span class="text-muted ml-1">9</span></p>
      <p class="text-muted">dresses  <span class="text-muted ml-1">2</span></p>
    </mat-expansion-panel>
  </mat-accordion>