.card {
    width: 90%;
    height: 400px;
    background-image: url("src/assets/hankasset/r2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card:hover {
    background-image: url("src/assets/hankasset/r1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
span {
    background-color: #000;
    color: #fff;
    width: 45px;
    padding: 2px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}
.bg-brown{background-color: burlywood; padding: 4px}
.outstock{  
    position: absolute;
    top: 120px;
    left: 20px;
      width: 50%;
    margin: auto;
    padding: 5px 8px;}
.possale{    position: absolute;
    left: 25px;
    top: 45px;}    